aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
dataclasses-json
distro
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
langsmith
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
openai
orjson
packaging
pandas
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyMuPDF
PyMuPDFb
pypiwin32
python-dateutil
python-docx
python-dotenv
python-multipart
pyttsx3
pytz
pywin32
PyYAML
referencing
regex
requests
rich
rpds-py
safetensors
shellingham
six
smmap
sniffio
soundfile
SQLAlchemy
starlette
streamlit
sympy
tenacity
tiktoken
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchdog
watchfiles
websockets
yarl
